*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto;
}
#phone{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notch {
    width: 200px;
    height: 40px;
    background-color: #000;
    border-radius: 0 0 20px 20px;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
  }
.wrapper{
    border: 10px solid black;
    width: 30%;
    height: 900px;
    border-radius: 60px;
    background: linear-gradient(210deg,#4c90ff 43%,  #f5f5f5  -61%)
    
}
.cardImg{
    width: 500px;
    height: 300px;
    margin: 20px auto 0;
}
.cardImg img{
    width: 100%;
}
.phoneTitle{
    text-align: center;
    margin-top: 60px;
    font-size: 34px;
    font-weight: bold;
    color: #fff;
}
